<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>HCKR News</title>
</head>
<body>
  <div class="nav">
    <div class="nav-items logo"><a href="/"><img src="../image/hckr_logo.png" alt="HCKR News" width="26px" height="26px"></a></div>
    <div class="nav-items"><a href="/" class="logo_text">HCKR NEWS</a>&nbsp;&nbsp;| <a href="/new_post">submit</a></div>
    <div class="nav-items login">
    <% current_user %>
    <% if session[:user_id] %>
    <a href="/user_profile/<%= @current_user.id %>"><%= @current_user.name %></a> | <a href="/logout">logout</a>
    <% else %>
    <a href="/login">login</a>
    <% end %>
    </div>
  </div>
  <% if @flash %>
  <div class="flash"><%= @flash %></div>
  <% end %>
  <%= yield %>
</body>
</html>
